body{
	

	background-color: #555;
}


.head{

	height: calc(35px + 35 * (100vw/1080));
	box-shadow: 0 0 10px #000000;
	background: #333;
    border-top: 3px solid #f66;
    border-bottom: 3px solid #f66;
 	max-width: 2000px;
	width: 100%;
   	
    right: 0px;
    top: 200px;
    position: absolute;
    z-index: 0;
   	left: 0px;
 }


	
	

 .page{text-align: center;

 	font-size: calc(30px + 32 * (100vw/1080));
 	color: white;
 	position: relative;

 }

 .navigation:hover  .dop{	transform: rotate(-30deg);

}
.navigation:hover .dop2{}





.uptitle{max-width: 5000px;
	width: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
}
.centerline{background-color: #E9DEAA;
	border-top: 42px solid #333;
	border-bottom: 42px solid #333;
	height: calc(110px + 10 * (100vw/1080));
	width: 100%;
}

.posttitle{
	font-size: calc(25px + 9 * (100vw/1080));
}
 .title{
 	padding: 5px;
 	font-size: calc(45px + 9 * (100vw/1080));
 
 	color: white;
 	position: relative;
 }

.dop{transition: 0.5s;}
.dop3{transition: 0.5s;}
.dop5{transition: 0.5s;}

.navigation:hover .dop3{
	transform: rotate(90deg);

}
.navigation{z-index: 2;
	margin-top: 40px;
}

.navigation:hover .dop4{
	
}
.navigation:hover .dop5{
	transform: rotate(30deg);

}

.navigation:hover .vipad{

	display: block;
	
}
.vipad{
	position: relative;

	margin-top: 30px;
	display: none;z-index: 2;
}
a{color: white;
	text-decoration: none;
}
td{
	text-align: center;

	
}

.V1{border-top: 20px solid #f66;
	border-bottom: 20px solid #f66;
	margin-top: 40px;
	box-shadow: 0 0 10px #000000;
	max-width: 2000px;
	width: calc(200px + 400 * (100vw/1080));
	height: calc(205px + 60 * (100vw/1080));
	position: relative;
	background-color: #333;
	z-index: 1;

}
.main{}

.img{z-index: 2;
	position: absolute;
	
}
.img img{
	border: 1px solid #f66;
	
	height: calc(204px + 60 * (100vw/1080));
	width: calc(120px + 50 * (100vw/1080));
	z-index: 3;
}



.info{
	text-align: center;
	padding: 5px;
	font-size: calc(4px + 8 * (100vw/1080));
	position: absolute;
	right: 0px;
	width: calc(65px + 375 * (100vw/1080));
	height: calc(195px + 60 * (100vw/1080));
	font-family: fantasy;
	color: white;
}


a:hover{
	color: #FCF0B8;
}




footer{

    background: #333;
    max-width: 2000px;
    width: 100%;
	filter: blur(2px);
    position: relative;
    top: 100px;
    bottom: 0px;
    height: 200px;
}

