body{
	

	background-color: #555;
}


.head{

	height: calc(35px + 35 * (100vw/1080));
	box-shadow: 0 0 10px #000000;
	background: #333;
    border-top: 3px solid #f66;
    border-bottom: 3px solid #f66;
 	max-width: 2000px;
	width: 100%;
   	
    right: 0px;
    top: 200px;
    position: absolute;
    z-index: 0;
   	left: 0px;
 }


	
	

 .page{text-align: center;

 	font-size: calc(30px + 32 * (100vw/1080));
 	color: white;
 	position: relative;

 }
 .title{
 	font-size: calc(25px + 9 * (100vw/1080));
 
 	color: white;
 	position: relative;
 }
 .navigation:hover  .dop{	transform: rotate(-30deg);

}
.navigation:hover .dop2{}





.uptitle{max-width: 5000px;
	width: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
}
.line{background-color: #333;
	height: 50px;width: 100%;
}
.centerline{background-color: #E9DEAA;
	height: 100px;width: 100%;
}




.dop{transition: 0.5s;}
.dop3{transition: 0.5s;}
.dop5{transition: 0.5s;}

.navigation:hover .dop3{
	transform: rotate(90deg);

}
.navigation{z-index: 2;
	margin-top: 40px;
}

.navigation:hover .dop4{
	
}
.navigation:hover .dop5{
	transform: rotate(30deg);

}

.navigation:hover .vipad{

	display: block;
	
}
.vipad{
	position: relative;

	margin-top: 30px;
	display: none;z-index: 2;
}
a{color: white;
	text-decoration: none;
}
td{
	text-align: center;

	
}

.V1{ 
	margin-top: 40px;
	box-shadow: 0 0 10px #000000;
	max-width: 2000px;
	width: calc(200px + 400 * (100vw/1080));
	height: calc(400px - 50 * (100vw/1080));
	position: relative;
	background-color: #333;
	z-index: 1;

}
.main{

	
}
#V1t{

	position: relative;
	
	height: 20px;
	background-color: #f66;
}

#V1d{
	top: calc(360px - 120 * (100vw/3000));
	box-shadow: 0 0 10px #000000;
	height: 20px;
	background-color: #f66;

	position: relative;
}
a:hover{
	color: #FCF0B8;
}




footer{

    background: #333;
    max-width: 2000px;
    width: 100%;
	filter: blur(2px);
    position: relative;
    top: 100px;
    height: 200px;
}

